<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.simdea.gmlrva.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gmlrva_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gmlrva_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GmlrvaAppTheme"
        tools:node="replace">

        <!-- Splash Activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/GmlrvaSplashTheme">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Demo Activity -->
        <activity android:name=".ui.SampleActivity" />

    </application>

</manifest>
